html, body, ul, li, .main{
	margin:0;
	padding:0;
	border:0;
}

body {
	font-size:12px;
	-webkit-user-select:none;
    -webkit-text-size-adjust:none;
	font-family:"宋体", "微软雅黑", "幼圆", "黑体";
}

@media screen and (orientation: portrait){
	.ui-mobile, .ui-mobile .ui-page {
		min-height: 0px;
	}
}

@media screen and (orientation: landscape){
	.ui-mobile, .ui-mobile .ui-page {
		min-height: 0px;
	}
}


.min-page{
	width:100%;
	height:280px;
}


.view{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	overflow:hidden;
}



/*************************Header公共代码*****************************/

.c-header{
	position:absolute;
	top:0; left:0;
	padding:0;
	width:100%;
	height:40px;
	text-align:center;
}

.c-header-lbutton, .c-header-title, .c-header-rbutton {
	position:absolute;
	height:100%;
	overflow:hidden;
}

.c-header-lbutton, .c-header-rbutton {
	z-index:2;
	width:80px;
}

.c-header-lbutton{
	left:0;
	text-align:left;
}

.c-header-rbutton{
	right:0;
	text-align:right;
}

.c-header-bb{
	display:inline-block;
	height:40px;
	width:40px;
}

.c-header-arrow{
	  -webkit-transform: rotate(45deg);
	position: absolute;
	left:14px;top:12px;
	width:16px;
	height:16px;
}

.c-header-arrowt{
	border-top-right-radius:2px;
	border-bottom-right-radius:2px;
	left:0px;bottom:0px;
	position:absolute;
	width:16px;
	height:4px;
	background:#FFF;
}

.c-header-arrowd{
	border-top-right-radius:1px;
	border-bottom-right-radius:1px;
	 -webkit-transform: rotate(-90deg);
	left:-6px;bottom:6px;
	position:absolute;
	width:16px;
	height:4px;
	background:#FFF;
}

.c-header-bl{
	display:inline-block;
	height:100%;
	width:2px;
	background:#FFF;
	opacity: 0.6;
}

.c-header-title{
	z-index:1;
	height:100%;
	width:100%
}

.c-header-timg{
	display:block;
	margin:0 auto;
	height:40px;
	width:160px;
	background:url(../img/header-title.png);
	background-size:100% 100%;
}










/*************************main层公共代码*****************************/

.main{
	display:none;
	position:absolute;
	width:100%;
	height:100%;
}
.c-main{
	position:absolute;
	top:15px;
	width:100%;
	opacity:0.8;
}

.c-m-t{
	position:absolute;
	z-index:2;
	top:0;
	width:100%;
	height:45px;
	text-align:center;
	overflow:hidden;
}

.c-m-tt{
	margin:18px auto;
	width:50px;
	height:50px;
	background:#000;
	border-radius:5px;
	border-top:5px solid #FFF;
	border-left:5px solid #FFF;
	  -webkit-transform: rotate(45deg);
}

.c-m-d{
	position:absolute;
	z-index:1;
	top:40px;
	width:100%;
	text-align:center;
}

.c-m-dd{
	display:inline-block;
	margin:0 auto;
	padding:10px;
	min-width:80px;
	max-width:260px;
	min-height:80px;
	max-height:160px;
	background:#000;
	border:5px solid #FFF;
	border-radius:20px;
	text-align:center;
}

.c-m-item{
	display:inline-block;
	width:80px;
	height:80px;
}

.c-m-img{
	margin:0 auto;
	width:65px;
	height:65px;
	background-size:100% 100%;
}

.c-m-text{
	margin:0 auto;
	height:15px;
	line-height:15px;
	text-align:center;
	color:#FFF;
	font-size:14px;
}



/*************************覆盖层公共代码*****************************/

.c-cover{
	display:table;
	position:absolute;
	width:100%;height:100%;
	background:#000;
	opacity: .7;
}

.cover-middle{
	display:table-cell;
	vertical-align:middle;
}

.cover-content{
	width:150px;height:50px;
	line-height:50px;
	margin:0 auto;
	text-align:center;
}

.cover-content .loading{
	display:inline-block;
	width:30px;
	height:30px;
	margin:10px;
}

.cover-content .cover-text{
	display:inline-block;
	height:50px;
	line-height:50px;
	vertical-align:top;
	color:#FFF;
	font-size:16px;
}


/*************************toast层栏代码*****************************/

.toast{
	display:none;
	position:absolute;
	z-index:55;
	width:100%;
	bottom:80px;
	text-align:center;
}

.toast span{
	display:inline-block;
	height:28px;
	width:auto;
	padding:0 15px;
	border:150px;
	Border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border:1px solid #999;
	background:#000;
	color:#FFF;
	line-height:28px;
	font-size:14px;
	text-align:center;
	opacity: .7;
	-webkit-box-shadow:2px 2px 6px #000;
}



/*************************Haeder栏代码*****************************/

#ho-header{
	z-index:2;
}

#ho-h-w{
	display:inline-block;
	height:40px;
	width:40px;
}

#ho-h-wimg{
	position:absolute;
	height:36px;
	width:36px;
	bottom:2px;
	right:5px;
	background-size:100% 100%;
}



/*************************Channal栏代码*****************************/

#ho-channel{
	position:absolute;
	z-index:2;
	top:40px;left:0px;right:0px;
	width:100%;
	height:35px;
	border-bottom:#999 solid 1px;
	background-image:-webkit-gradient(
    	linear,
    	left bottom,
    	left top,
    	color-stop(0.32, rgb(194,194,194)),
    	color-stop(0.66, rgb(222,222,222)),
    	color-stop(0.9, rgb(247,247,247))
	);
}

/*************************Channal栏左右两侧按钮代码*****************************/

.ho-c-b{
	position:absolute; z-index:3;
	top:0px;
	width:20px;
	height:100%;
}

#ho-c-lb{
	left:0px;
}

#ho-c-rb{
	right:0px;
}

.ho-c-ba1, .ho-c-ba2{
	border-top-right-radius:1px;
	border-bottom-right-radius:1px;
	position:absolute;
	width:8px;
	height:2px;
	background:#666;
}

.ho-c-ba1{
	left:0px;bottom:0px;
}

.ho-c-ba2{
	 -webkit-transform: rotate(-90deg);
	left:-3px;bottom:3px;
}

.ho-c-ba{
	position: absolute;
	top:16px;
	width:8px;
	height:8px;
}

#ho-c-lb .ho-c-ba{
	 -webkit-transform: rotate(45deg);
	left:5px;
}

#ho-c-rb .ho-c-ba{
	 -webkit-transform: rotate(-135deg);
	right:5px;
}

/*************************Channal中间栏代码*****************************/

#ho-c-w {
	position:absolute; z-index:1;
	left:0px;right:0px;
	height:100%;
	margin:0 20px;
	overflow:hidden;
}

#ho-c-ws {
	position:absolute; z-index:1;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	height:100%;
	padding:0;
}

#ho-c-wss{
	position:absolute;z-index:-1;
	top:0px; left:0px;
	margin:5px 0px;
	width:50px;
	height:25px;
	border:1px #999999 solid;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	background-image:-webkit-gradient(
    	linear,
    	left bottom,
    	left top,
    	color-stop(0.21, rgb(186,0,0)),
    	color-stop(0.44, rgb(209,0,0)),
    	color-stop(0.92, rgb(99,0,0))
	);
}

#ho-c-wsl {
	z-index:2;
	padding:5px 0px;
	height:35px;
	white-space:nowrap;
}

#ho-c-wsl li {
	height:25px;
	line-height:28px;
	display: inline;
	list-style-type: none;
	margin:0 1px;
	padding: 5px 8px;
	font-size:14px;
	font-weight:bold;
	color:#333;
}

#ho-c-wsl li a{
	text-decoration: none;
	color:#333;
}

/*************************Items栏代码*****************************/

#ho-items {
	position:absolute; z-index:1;
	top:75px; bottom:0px; left:0px;
	width:100%;
	overflow:auto;
}

#ho-i-s {
	position:absolute; z-index:1;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	width:100%;
	min-height:100%;
	padding:0;
}

#ho-i-s ul {
	list-style:none;
	padding:0;
	margin:0;
	width:100%;
	text-align:left;
}

#ho-i-s li {
	padding:5px 15px;
	width:100%
	border-bottom:1px solid #ccc;
	border-top:1px solid #fff;
}

#ho-i-s li .ho-i-stat{
	padding:0;
	width:100%;
}

.ho-i-stl{
	padding:0;
	height:20px;
	width:100%;
	line-height:20px;
	font-size:14px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

.ho-i-sti{
	height:16px;
	line-height:16px;
	font-size:10px;
	color:#555;
}

#ho-i-s li:nth-child(2n-1) {
	background-color:#eaeaea;
}

#ho-i-s li:nth-child(2n) {
	background-color:#fafafa;
}

#ho-i-sm{
	width:100%;
	height:40px;
	line-height:40px;
	font-size:16px;
	text-align:center;
	background:#CCC;
}



/*************************Pull down代码*****************************/


#ho-i-sp {
	background:#fff;
	height:40px;
	line-height:40px;
	padding:5px 10px;
	border-bottom:1px solid #ccc;
	font-weight:bold;
	font-size:14px;
	color:#888;
}
#ho-i-sp .ho-i-spi {
	display:block; float:left;
	width:40px; height:40px;
	background:url(../img/pull-icon@2x.png) 0 0 no-repeat;
	-webkit-background-size:40px 80px; background-size:40px 80px;
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:250ms;	
}
#ho-i-sp .ho-i-spi {
	-webkit-transform:rotate(0deg) translateZ(0);
}

#ho-i-sp.flip .ho-i-spi {
	-webkit-transform:rotate(-180deg) translateZ(0);
}


#ho-i-sp.loading .ho-i-spi {
	background-position:0 100%;
	-webkit-transform:rotate(0deg) translateZ(0);
	-webkit-transition-duration:0ms;

	-webkit-animation-name:loading;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}

@-webkit-keyframes loading {
	from { -webkit-transform:rotate(0deg) translateZ(0); }
	to { -webkit-transform:rotate(360deg) translateZ(0); }
}



/*************************MoreChannel栏代码*****************************/

#ho-morechannel{
	display:none;
	position:absolute; z-index:1;
	top:75px; bottom:0px; left:0px;
	width:100%;
	background:#aaa;
	overflow:auto;
}

#ho-mc-s{
	position:absolute; z-index:1;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	left:0px;right:0px;
}

#ho-mc-s ul {
	list-style:none;
	padding:0;
	margin:0;
	width:100%;
	text-align:left;
}

#ho-mc-s li {
	padding:5px 15px;
	width:100%
	border-bottom:1px solid #ccc;
	border-top:1px solid #fff;
}

#ho-mc-s li:nth-child(2n-1) {
	background-color:#eaeaea;
}

#ho-mc-s li:nth-child(2n) {
	background-color:#fafafa;
}


#ho-mc-s li .ho-mc-cn{
	display:inline-block;
	padding:0;
	height:30px;
	max-width:40%;
	min-width:30%;
	line-height:30px;
	font-size:18px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

#ho-mc-s li .ho-mc-cr{
	display:inline-block;
	padding:0;
	height:30px;
	max-width:40%;
	min-width:20%;
	line-height:34px;
	font-size:14px;
	color:#AAA;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}


/*************************覆盖层代码*****************************/

#ho-cover{
	position:absolute; z-index:3;
	top:75px; bottom:0px;
	width:100%;
	overflow:auto;
}


/*************************weather层代码*****************************/

#ho-weather{
	display:none;
	z-index:4;
	position:absolute;
	width:100%;
	height:100%;
}

#ho-w-bg{
	position:absolute;
	width:100%;
	height:100%;
	background:#000;
	opacity:0.4;
}

#ho-w-cover{
	display:table;
	position:absolute;
	width:100%;height:100%;
}

#ho-w-middley{
	display:table-cell;
	vertical-align:middle;
}

#ho-w-middlex{
	width:280px;height:150px;
	margin:0 auto;
}

#ho-w-content{
	position:absolute;
	width:280px;
	height:150px;
	overflow:hidden;
}

#ho-w-tips{
	position:absolute;
	top:0;
	left:0;
	width:400%;
	height:100%;
	overflow:hidden;
}

.ho-w-tip{
	position:absolute;
	width:25%;
	height:100%;
	top:0px;
	overflow:hidden;
}

#ho-w-tip1{
	left:0;
}

#ho-w-tip2{
	left:25%;
}

#ho-w-tip3{
	left:50%;
}

#ho-w-tip4{
	left:75%;
}

.ho-w-tipbg{
	position:absolute;
	height:100%;
	width:100%;
	bottom:0;
	left:0;
	background-size:100% 100%;
}

#ho-w-tip1 .ho-w-tipbg{
	background-image:url(../img/weather-tip1.png);
}

#ho-w-tip2 .ho-w-tipbg{
	background-image:url(../img/weather-tip2.png);
}

#ho-w-tip3 .ho-w-tipbg{
	background-image:url(../img/weather-tip3.png);
}

#ho-w-tip4 .ho-w-tipbg{
	background-image:url(../img/weather-tip4.png);
}

#ho-w-imgbig{
	position:absolute;
	width:130px;
	height:130px;
	top:0;left:0;
	background-size:100% 100%;
}

#ho-w-month,#ho-w-date{
	position:absolute;
	width:60px;
	height:60px;
	top:15px;
	background-size:100% 100%;
	background-image:url(../img/weather/weather_date.png);
}

#ho-w-month{
	left:135px;
}

#ho-w-date{
	left:200px;
}

#ho-w-month span, #ho-w-date span{
	display:block;
	position:absolute;
	top:5px;
	width:28px;
	height:50px;
	background-size:100% 100%;
}

#ho-w-monthone{
	left:2px;
}

#ho-w-monthtwo{
	right:2px;
}


#ho-w-dateone{
	left:2px;
}

#ho-w-datetwo{
	right:2px;
}

#ho-w-cityname{
	position:absolute;
	width:120px;
	height:25px;
	top:85px;left:135px;
	line-height:25px;
	font-size:20px;
	color:#FFF;
}

#ho-w-weathtext{
	position:absolute;
	width:120px;
	height:25px;
	top:110px;left:135px;
	line-height:25px;
	font-size:14px;
	color:#FFF;
}

#ho-w-refresh{
	position:absolute;
	width:80px;
	height:12px;
	top:125px;left:15px;
	line-height:12px;
	font-size:10px;
	color:#FFF;
}

.ho-w-t, .ho-w-s{
	position:absolute;
	font-size:12px;
	color:#FFF;
	line-height:16px;
}

.ho-w-t{
	left:20px;
	width:100px;
}

.ho-w-s{
	left:90px;
	width:175px;
}

.ho-w-t1, .ho-w-s1{
	top:30px;
}

.ho-w-t2, .ho-w-s2{
	top:65px;
}

.ho-w-t3, .ho-w-s3{
	top:100px;
}

.ho-w-num0{
	background-image:url(../img/weather/num/nw0.png);
}

.ho-w-num1{
	background-image:url(../img/weather/num/nw1.png);
}

.ho-w-num2{
	background-image:url(../img/weather/num/nw2.png);
}

.ho-w-num3{
	background-image:url(../img/weather/num/nw3.png);
}

.ho-w-num4{
	background-image:url(../img/weather/num/nw4.png);
}

.ho-w-num5{
	background-image:url(../img/weather/num/nw5.png);
}

.ho-w-num6{
	background-image:url(../img/weather/num/nw6.png);
}

.ho-w-num7{
	background-image:url(../img/weather/num/nw7.png);
}

.ho-w-num8{
	background-image:url(../img/weather/num/nw8.png);
}

.ho-w-num9{
	background-image:url(../img/weather/num/nw9.png);
}

#ho-w-nav{
	position:relative;
	margin:0 auto;
	width:120px;
	height:30px;
	opacity:0.8;
}

.ho-w-round{
	position:absolute;
	padding:0;
	width:30px;
	height:30px;
}

#ho-w-round1{
	left:0px;
}

#ho-w-round2{
	left:30px;
}

#ho-w-round3{
	left:60px;
}

#ho-w-round4{
	left:90px;
}

#ho-w-round5{
	position:absolute;
	padding:0;
	width:30px;
	height:30px;
	left:0px;
}

.ho-w-round span{
	position:absolute;
	display:block;
	top:8px;left:8px;
	width:10px;
	height:10px;
	border:solid #111 2px;
	border-radius:5px;
}

#ho-w-round5 span{
	position:absolute;
	display:block;
	top:5px;left:5px;
	width:20px;
	height:20px;
	border-radius:10px;
	background:#111;
}

/*************************main代码*****************************/

#ho-main{
	z-index:4;
}

#ho-m-manage .c-m-img{
	background:url(../img/icon-manage.png);
}

#ho-m-skin .c-m-img{
	background:url(../img/icon-skin.png);
}

#ho-m-collect .c-m-img{
	background:url(../img/icon-collect.png);
}

#ho-m-seach .c-m-img{
	background:url(../img/icon-seach.png);
}

#ho-m-setup .c-m-img{
	background:url(../img/icon-setup.png);
}

#ho-m-more .c-m-img{
	background:url(../img/icon-more.png);
}





/*************************等待旋转代码*****************************/

.x-loading-spinner {
	font-size: 250%;
    height: 1em;
    width: 1em;
    position: relative;
    -webkit-transform-origin: 0.5em 0.5em;
}

.x-loading-spinner > span, .x-loading-spinner > span:before, .x-loading-spinner > span:after {
    display: block;
    position: absolute;
    width: 0.1em;
    height: 0.25em;
    top: 0;
    -webkit-transform-origin: 0.05em 0.5em;
    -webkit-border-radius: 0.05em;
    border-radius: 0.05em;
    content: " ";
}

.x-loading-spinner > span.x-loading-top {background-color: rgba(170, 170, 170, 0.99)}
.x-loading-spinner > span.x-loading-top::after {background-color: rgba(170, 170, 170, 0.9)}
.x-loading-spinner > span.x-loading-left::before {background-color: rgba(170, 170, 170, 0.8)}
.x-loading-spinner > span.x-loading-left {background-color: rgba(170, 170, 170, 0.7)}
.x-loading-spinner > span.x-loading-left::after {background-color: rgba(170, 170, 170, 0.6)}
.x-loading-spinner > span.x-loading-bottom::before {background-color: rgba(170, 170, 170, 0.5)}
.x-loading-spinner > span.x-loading-bottom {background-color: rgba(170, 170, 170, 0.4)}
.x-loading-spinner > span.x-loading-bottom::after {background-color: rgba(170, 170, 170, 0.35)}
.x-loading-spinner > span.x-loading-right::before {background-color: rgba(170, 170, 170, 0.3)}
.x-loading-spinner > span.x-loading-right {background-color: rgba(170, 170, 170, 0.25)}
.x-loading-spinner > span.x-loading-right::after {background-color: rgba(170, 170, 170, 0.2)}
.x-loading-spinner > span.x-loading-top::before {background-color: rgba(170, 170, 170, 0.15)}

.x-loading-spinner > span {
    left: 50%;
    margin-left: -0.05em;
}

.x-loading-spinner > span.x-loading-top {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}

.x-loading-spinner > span.x-loading-right {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}

.x-loading-spinner > span.x-loading-bottom {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}

.x-loading-spinner > span.x-loading-left {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
}

.x-loading-spinner > span::before {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
}

.x-loading-spinner > span::after {
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
}

.x-loading-spinner {
    -webkit-animation-name: x-loading-spinner-rotate;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes x-loading-spinner-rotate {
    from { -webkit-transform: rotate(30deg)}
    to {-webkit-transform: rotate(330deg)}
}

