#sk-setting{
	z-index:1;
	position:absolute;
	top:40px;
	bottom:0;
	width:100%;
	overflow:hidden;
}

#sk-s-w{
	position:absolute; z-index:1;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	width:100%;
	padding:0;
}

#sk-s-w ul {
	list-style:none;
	padding:0;
	margin:0;
	width:100%;
	text-align:left;
}

#sk-s-w li {
	padding:8px 0px;
	width:100%;
	height:40px;
}

.sk-s-bg{
	margin:0 auto;
	width:90%;
	height:40px;
	overflow:hidden;
	border-radius:5px;
}

.sk-s-li .isselect{
	border:5px #F93 solid;
}

.sk-s-li .noselect{
	border:5px #999 solid;
}

.sk-s-text{
	display:block;
	width:80px;
	height:40px;
	line-height:40px;
	color:#FFF;
	text-align:center;
	font-size:18px;
}

.sk-s-flower{
	display:block;
	width:100%;
	height:40px;
	background-image:url(../img/flower.png);
	background-size:auto 40px;
	background-repeat:repeat-x;
}