.we-bai-qing-big{
	background-image:url(../img/weather/big/qing.png);
}

.we-bai-duoyun-big{
	background-image:url(../img/weather/big/duoyun.png);
}

.we-bai-yin-big, .we-ye-yin-big{
	background-image:url(../img/weather/big/yin.png);
}

.we-bai-zhenyu-big{
	background-image:url(../img/weather/big/zhenyu.png);
}

.we-bai-leizhenyu-big, .we-ye-leizhenyu-big{
	background-image:url(../img/weather/big/leizhenyu.png);
}

.we-bai-leizhenyubingbao-big, .we-ye-leizhenyubingbao-big{
	background-image:url(../img/weather/big/leizhenyubingbao.png);
}

.we-bai-yujiaxue-big, .we-ye-yujiaxue-big{
	background-image:url(../img/weather/big/yujiaxue.png);
}

.we-bai-xiaoyu-big, .we-ye-xiaoyu-big{
	background-image:url(../img/weather/big/xiaoyu.png);
}

.we-bai-zhongyu-big, .we-ye-zhongyu-big{
	background-image:url(../img/weather/big/zhongyu.png);
}

.we-bai-dayu-big, .we-ye-dayu-big{
	background-image:url(../img/weather/big/dayu.png);
}

.we-bai-baoyu-big, .we-bai-dabaoyu-big, .we-bai-tedabaoyu-big, .we-ye-baoyu-big, .we-ye-dabaoyu-big, .we-ye-tedabaoyu-big{
	background-image:url(../img/weather/big/baoyu.png);
}

.we-bai-zhenxue-big{
	background-image:url(../img/weather/big/zhenxue.png);
}

.we-bai-xiaoxue-big, .we-ye-xiaoxue-big{
	background-image:url(../img/weather/big/xiaoxue.png);
}

.we-bai-zhongxue-big, .we-ye-zhongxue-big{
	background-image:url(../img/weather/big/zhongxue.png);
}

.we-bai-daxue-big, .we-ye-daxue-big{
	background-image:url(../img/weather/big/daxue.png);
}

.we-bai-baoxue-big, .we-ye-baoxue-big{
	background-image:url(../img/weather/big/baoxue.png);
}

.we-bai-wu-big{
	background-image:url(../img/weather/big/wu.png);
}

.we-bai-dongyu-big,.we-ye-dongyu-big{
	background-image:url(../img/weather/big/dongyu.png);
}

.we-bai-shachengbao-big{
	background-image:url(../img/weather/big/shachenbao.png);
}

.we-bai-fuchen-big{
	background-image:url(../img/weather/big/fuchen.png);
}

.we-ye-qing-big{
	background-image:url(../img/weather/big/ye_qing.png);
}

.we-ye-duoyun-big{
	background-image:url(../img/weather/big/ye_duoyun.png);
}

.we-ye-zhenyu-big{
	background-image:url(../img/weather/big/ye_zhenyu.png);
}

.we-ye-zhenxue-big{
	background-image:url(../img/weather/big/ye_zhenxue.png);
}

.we-ye-wu-big{
	background-image:url(../img/weather/big/ye_zhenxue.png);
}

.we-ye-shachenbao-big{
	background-image:url(../img/weather/big/ye_shachenbao.png);
}

.we-ye-fuchen-big{
	background-image:url(../img/weather/big/ye_fuchen.png);
}









.we-qing-small{
	background-image:url(../img/weather/small/qing.png);
}

.we-duoyun-small{
	background-image:url(../img/weather/small/duoyun.png);
}

.we-yin-small{
	background-image:url(../img/weather/small/yin.png);
}

.we-zhenyu-small{
	background-image:url(../img/weather/small/zhenyu.png);
}

.we-leizhenyu-small{
	background-image:url(../img/weather/small/leizhenyu.png);
}

.we-leizhenyubingbao-small{
	background-image:url(../img/weather/small/leizhenyubingbao.png);
}

.we-yujiaxue-small, .we-dongyu-small{
	background-image:url(../img/weather/small/yujiaxue.png);
}

.we-xiaoyu-small{
	background-image:url(../img/weather/small/xiaoyu.png);
}

.we-zhongyu-small{
	background-image:url(../img/weather/small/zhongyu.png);
}

.we-dayu-small{
	background-image:url(../img/weather/small/dayu.png);
}

.we-baoyu-small{
	background-image:url(../img/weather/small/baoyu.png);
}

.we-dabaoyu-small{
	background-image:url(../img/weather/small/dabaoyu.png);
}

.we-tedabaoyu-small{
	background-image:url(../img/weather/small/tedabaoyu.png);
}

.we-zhenxue-small{
	background-image:url(../img/weather/small/zhenxue.png);
}

.we-xiaoxue-small{
	background-image:url(../img/weather/small/xiaoxue.png);
}

.we-zhongxue-small{
	background-image:url(../img/weather/small/zhongxue.png);
}

.we-daxue-small{
	background-image:url(../img/weather/small/daxue.png);
}

.we-baoxue-small{
	background-image:url(../img/weather/small/baoxue.png);
}

.we-wu-small{
	background-image:url(../img/weather/small/wu.png);
}

.we-shachengbao-small, .we-fuchen-small{
	background-image:url(../img/weather/small/shachenbao.png);
}

